<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant It</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

      {{{ body }}}

{{!-- <script src="/js/logout.js"></script> --}}
{{!-- <script src="/js/homepage.js"></script> --}}
{{!-- <script src="/js/profile.js"></script> --}}
{{!-- <script src="/js/plantFunc.js"></script> --}}
</body>

</html>