<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <div class="statBox">
        <form class="form login-form">
            <h3>Login</h3>
            <div class="property">
              <label for="latin-name">Email:</label>
              <input class="email-login" type="text" id="latin-name" name="latin-name" />
            </div>
            <div class="property">
              <label for="plant-desc">Password:</label>
              <input class="password-login" id="plant-desc" name="plant-desc" />
            </div>
            <div class="">
              <button type="submit" class="postButton">Login</button>
            </div>
        </form>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>
    <div class="statBox">
      <form class="form signup-form">
          <h3>Sign Up</h3>
          <div class="property">
            <label for="common-name">User Name:</label>
            <input class="name-signup" type="text" id="common-name" name="common-name" />
          </div>
          <div class="property">
            <label for="latin-name">Email:</label>
            <input class="email-signup" type="text" id="latin-name" name="latin-name" />
          </div>
          <div class="property">
            <label for="plant-desc">Password:</label>
            <input class="password-signup" id="plant-desc" name="plant-desc" />
          </div>
          <div class="">
            <button type="submit" class="postButton">Create Account</button>
          </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
