$buttonColor : azure;
$utilColor : green;
$bgColor : rgba(238, 230, 227, 0.7);

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;    
    text-align: center;     
}

@mixin buttonBehave{
        margin: 2%;
        border-radius: 15%;
        height: 2.5em;
        width: 7em;
        background-color: $buttonColor;
        &:active{
            background-color: $utilColor;
        };
        background-image: linear-gradient(
        rgba(236, 185, 102, 0.3) 0%,
        rgba(236, 220, 102, 0.6) 100%
        );   
    }

:root{
    background-color: rgb(10, 73, 33);
}

header{
    @include flexCenter(column);
    background-color: $bgColor;
    border-radius: 2%;
    max-height: 20%;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    transform: rotateY(3.5deg) rotateX(3.5deg);
    -webkit-transform: rotateY(3.5deg) rotateX(3.5deg);
    background-image: url('../assets/Images/treelogo.jpg'),url('../assets/Images/treelogo.jpg');
    background-position:left, right;
    background-repeat: no-repeat;
    background-size:contain;
    .row1{
        column-count: 2;
        column-gap: calc(100vw/10);
        .btnGroup{
            margin: 2%;
        }
        .homebtn{
            @include buttonBehave();
        }
        .login{
            @include buttonBehave();
        }
        .newPost{
            @include buttonBehave();
        }
        h1{
            padding: 5%;
        }
        .hometitle{
            width: 6em;
        }
    };
    .row2{
        border:5px double black;
        padding: 1%;
        margin: .5em;
    };
};

.main{
    @include flexCenter(row);
    .statBox{
        margin: 2%;
        padding: 1.5%;
        border-radius: 3%;
        background-color: $bgColor;
        height: 45vh;
        width: 45vw;
        max-width: fit-content;
        min-height: fit-content;
        box-shadow: 20px 20px 20px rgb(0, 0, 0);
        transform: rotateY(3.5deg) rotateX(3.5deg);
        -webkit-transform: rotateY(3.5deg) rotateX(3.5deg);
        h4{
            text-align: center;
            font-size: x-large;
            text-decoration:underline;
            font-weight: bolder;
        };
        .statList {
            li{
                border:3px double black;
                font-weight: bolder;
                position: relative;
                list-style-type: none;
                margin-top: 10%;
                justify-content: left;
                align-content: flex-start;
                text-align: left;
                height: 2em;
                width: 90%;
                background-color: $buttonColor
            }
        }
        .userPosts{
            border:1px double black;
            position: relative;
            background-color: azure;
            height: 99%;
            overflow-y: scroll;
            width: 45vw;
            .singlePost{
                border: 1px solid black;
                text-align: left;
                img{
                    float:left;
                    background-color: aqua;
                    max-height: 35%;
                    max-width: 35%;
                    margin: 1%;
                };
            }
        }
    };
    .allPosts{
        border:1px double black;
        position: relative;
        background-color: azure;
        height: 99%;
        overflow-y: scroll;
        width: 45vw;
        .singlePost{
            border: 1px solid black;
            text-align: left;
            img{
                float:left;
                background-color: aqua;
                max-height: 35%;
                max-width: 35%;
                margin: 1%;
            };
        }
    }
    .creationBox{  
        border:1px double black;
        position: relative;
        background-color: azure;
        height: 99%;
        img{
            float:left;
            background-color: aqua;
            min-height: 40%;
            min-width: 40%;
            margin-top: 20%;
        };
        .description{
            margin-top: 10%;
        }
    }
    .activity{
        box-shadow: 20px 20px 20px rgb(0, 0, 0);
        transform: rotateY(3.5deg) rotateX(3.5deg);
        -webkit-transform: rotateY(3.5deg) rotateX(3.5deg);
        margin: 2%;
        padding: 1.5%;
        border-radius: 3%;
        background-color: $bgColor;
        height: 45vh;
        width: 100vw;
        column-count: 2;
        max-width: 100%;
        .userPosts{
            border:1px double black;
            position: relative;
            background-color: azure;
            height: 99%;
            overflow-y: scroll;
            .singlePost{
                border: 1px solid black;
                text-align: left;
                img{
                    float:left;
                    background-color: aqua;
                    max-height: 35%;
                    max-width: 35%;
                    margin: 1%;
                };
            }
            form{
                margin: 1%;
                button{
                    @include buttonBehave();
                }
                textarea{
                    width: 90%;
                    height: 5em;
                };
            };
        };
    };
};
                
.title {
    position: relative;
     text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    background-image: url('../assets/Images/dark-leaves.jfif');
    background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    .form{
        @include flexCenter(column);
        background-color: azure;
        width: 100%;
        //max-width being here is questionable
        max-width: 20vw;
        height: 100%;
        h3{
            font-size: xx-large;
        };
        .property{
            position: relative;
            text-align: left;
            font-size: x-large;
            padding: 4%;
            width: 70%;
            border: 2px solid black;
            input{
                float: right;
            }
            textarea{
                float: right;
            }
        }
        .postButton{
            @include buttonBehave();
        }
    }

    @media screen and (max-width: 940px) {
        .form{
            max-width: 95vw;
        }
        .title{
            font-size: 1.5rem;
        }
        .background{
            background-repeat: repeat-y;
        }
        header{
            width: 100%;
            background-image: none;
            border-radius: 0%;
            .row1{
                column-count: 1;
            }
        }
        
        .main{
            @include flexCenter(column);
            .statBox{
                width: 100%;
                height: fit-content;
                border-radius: 0%;
                .statList{
                    li{
                        margin-top: 2%;
                    }
                }
                .userPosts{
                    width: 100%;
                }
            }
            .activity{
                column-count: 1;
                height: fit-content;
                border-radius: 0%;
                .creationBox{
                    img{
                        margin-top: 0;
                    }
                }
            }
        }
    };

    