<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Submit Form</title>
</head>
<body>
    <header>
        <h1>Hello, Moto</h1>
    </header>
        <form class="form">
            <h3>Create A Post</h3>
            <div class="property">
              <label for="common-name">Common Name:</label>
              <input class="" type="text" id="common-name" name="common-name" />
            </div>
            <div class="property">
              <label for="latin-name">Latin Name:</label>
              <input class="" type="text" id="latin-name" name="latin-name" />
            </div>
            <div class="property">
              <label for="plant-desc">Description:</label>
              <textarea class="" id="plant-desc" name="plant-desc"></textarea>
            </div>
            <div class="">
              <button type="submit" class="postButton">Create</button>
            </div>
          </form>
</body>
</html>