<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Plant It - Home</title>
</head>
<body>
<header>
    <div class="row1">
    <div class="title">
        <h1 class="hometitle">Plant It</h1>
    </div>
    <!-- navbar -->
    <div class="btnGroup">
            <button class="homebtn">My Profile</button>
            <button class="login">Login</button>
        <!-- <button class="login">Logout</button> -->
    </div>
</div>
<div class="row2">
    <h2>You chose the right spot to set down your roots!</h2>
</div>
</header>
<div class="main">
    <div class="statBox">
        <form class="form">
            <h3>Login</h3>
            <div class="property">
              <label for="latin-name">Email:</label>
              <input class="" type="text" id="latin-name" name="latin-name" />
            </div>
            <div class="property">
              <label for="plant-desc">Password:</label>
              <input class="" id="plant-desc" name="plant-desc" />
            </div>
            <div class="">
              <button type="submit" class="postButton">Login</button>
            </div>
        </form>
    </div>
    <div class="statBox">
        <form class="form">
            <h3>Sign Up</h3>
            <div class="property">
              <label for="common-name">User Name:</label>
              <input class="" type="text" id="common-name" name="common-name" />
            </div>
            <div class="property">
              <label for="latin-name">Email:</label>
              <input class="" type="text" id="latin-name" name="latin-name" />
            </div>
            <div class="property">
              <label for="plant-desc">Password:</label>
              <input class="" id="plant-desc" name="plant-desc" />
            </div>
            <div class="">
              <button type="submit" class="postButton">Create Account</button>
            </div>
        </form>
    </div>
    <div class="statBox">
        <div class="userPosts">
            <div class="singlePost">
              <img src="../public/images/5624-Hemlock-1296x728-header.jpg" alt="poison hemlock">
              <h2>Poison Hemlock</h2>
              <h3>Conium Maculatum</h3>
              <p>this is a long description of poison hemlock aka conium maculatum it's a plant and also it's good to have it around</p>
              <p>April 3, 2022</p>
          </div>
          </div>
    </div>
</div>
</body>
</html>