<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Plant It - Plants</title>
</head>
<body>
<div class="main">
  <div class="statBox">
    <div class="userPosts">
        <div class="singlePost">
            <img src="../public/images/5624-Hemlock-1296x728-header.jpg" alt="poison hemlock">
            <h2>Poison Hemlock</h2>
            <h3>Conium Maculatum</h3>
            <p>this is a long description of poison hemlock aka conium maculatum it's a plant and also it's good to have it around</p>
            <p>April 3, 2022</p>
        </div>
    </div>
  </div>
</div>
</body>
</html>