<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Plant It - Profile</title>
</head>
<body>
    <header>
        <div class="row1">
        <h1>
           <span class="title">StankShackle</span>
        </h1>
        <div class="btnGroup">
            <button class="homebtn">Home</button>
            <!-- <button class="login">Login</button> -->
            <button class="login">Logout</button>
        </div>
        </div>
        <div class="row2">
        <h3 class="bio">
            <p>Lorem ipsum dolor, sit amet. Autem velit illum, dolores et voluptate necessitatibus unde rem eum reprehenderit iusto amet quos voluptatum placeat consectetur!</p>
        </h3>
    </div>
    </header>
<div class="main">
    <div class="statBox">
        <h4>User Stats</h4>
        <ul class="statList">
            <!-- followers and following are properties of user? -->
            <li class="followers">Followers:</li>
            <li class="following">Following:</li>
            <li class="postNum">Number of Posts:</li>
            <!-- counter whenevr a plant gets created by a useer -->
            <li class="likeNum">Number of Liked Posts:</li>
            <!-- counter on liked posts that gets incremented -->
        </ul>
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nemo omnis rerum aliquam laborum libero cumque et exercitationem expedita culpa, possimus esse reiciendis qui blanditiis voluptates, illum temporibus nulla perspiciatis. Ipsum natus quaerat eius, quas cumque odit fugiat? Cumque, alias ad quis dolorem eaque facere reiciendis fuga numquam magni maiores, a, veritatis neque suscipit architecto fugiat perspiciatis vel ducimus ex?</p> -->
    </div>
    <div class="activity">
        <!-- comment box will become make a new post form -->
        <div class="creationBox">
            <form class="form">
                <h3>Post a Plant</h3>
                <div class="property">
                  <label for="common-name">Common Name:</label>
                  <input class="" type="text" id="common-name" name="common-name" />
                </div>
                <div class="property">
                  <label for="latin-name">Latin Name:</label>
                  <input class="" type="text" id="latin-name" name="latin-name" />
                </div>
                <div class="property">
                  <label for="plant-desc">Description:</label>
                  <textarea class="" id="plant-desc" name="plant-desc"></textarea>
                </div>
                <div class="">
                  <button type="submit" class="postButton">Post It</button>
                </div>
              </form>
        </div>
        <div class="userPosts">
            
        </div>
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat beatae dolor id voluptatem perferendis mollitia quas, accusantium impedit dolores et molestiae itaque esse! Officiis quasi neque, culpa odio consequuntur, dolorum perspiciatis doloremque, minus itaque eligendi veniam ipsa obcaecati ratione harum illo suscipit placeat dicta aspernatur ad eius necessitatibus aliquid cum ab accusamus? Aperiam quos quia itaque, nobis nemo eligendi amet.</p> -->
    </div>
</div>
</body>
</html>